<div *ngFor=" let category of dataCategories ">
    <div class="">
        <div class="pull-left">
            Category: <a href="http://localhost:8081/categories/{{ category.name }} " target="_blank">
            {{ category.name }}
        </a>
        </div>
        <div class="pull-right">
            <a (click)="addComponent( $event, category._id, category.name )"
               href="#" class="btn btn-primary btn-xs"> <i class="glyphicon glyphicon-save"></i>
            </a>
        </div>
        <div class="clearfix"></div>
        <br>
        <ul class="list-group">
            <li class="list-unstyled list-group-item-info">Components</li>
            <li class="list-group-item" *ngFor="let componentList of category.component">
                <span> Name: {{ componentList.name }} </span><br>
                Markup:
                <code>
                    {{ componentList.markup }}
                </code><br>
                style: <code>{{ componentList.styles }}</code>
                <hr>

                <div  [innerHTML]="componentList.markup"></div>
                <p>this a test {{ myStyles( componentList.styles ) }}</p>
                <style type="text/css" scoped [textContent]="myStyles( componentList.styles )"></style>

            </li>
        </ul>

</div>
</div>